extends ./layouts/header.pug

block container
    .container-fluid
        .row
            .col-11.offset-col-1
                h3 Eventos de la Semana
        .row.justify-content-sm-center
            .col-12.col-sm-5.col-md-5.col-lg-3#carEvent
                .row.no-gutters
                    .col-12.col-sm-12.col-md-12.col-lg-12
                        img.imgEvent(src="./images/events/Arduino-Day.jpg", alt="img1", data-toggle="modal", data-target="#arduino")
                    .col-12.col-sm-12.col-md-12.col-lg-12.informationCardsEvents
                        span Arduino Day 2018
                        span Sabado 7 de abril - ( 9am a 17:00 )
            .col-12.col-sm-5.col-md-5.col-lg-3#carEvent
                .row.no-gutters
                    .col-12.col-sm-12.col-md-12.col-lg-12
                        img.imgEvent(src="./images/events/scrum-day.jpg", alt="img1", data-toggle="modal", data-target="#scrum-day")
                    .col-12.col-sm-12.col-md-12.col-lg-12.informationCardsEvents
                        span Scrum Day Perú 2018
                        span 27 de abril - 28 de abril (9:00 a 18:00)
            .col-12.col-sm-5.col-md-5.col-lg-3#carEvent
                .row.no-gutters
                    .col-12.col-sm-12.col-md-12.col-lg-12
                        img.imgEvent(src="./images/events/kanb-emprende.jpg", alt="img1", data-toggle="modal", data-target="#kanb-emprende")
                    .col-12.col-sm-12.col-md-12.col-lg-12.informationCardsEvents
                        span Taller gratuito: Kanban para emprendedores en La Muralla
                        span Jueves, 5 de abril de 19:00 a 21:00
            .col-12.col-sm-5.col-md-5.col-lg-3#carEvent
                .row.no-gutters
                    .col-12.col-sm-12.col-md-12.col-lg-12
                        img.imgEvent(src="./images/events/space-up.jpg", alt="img1", data-toggle="modal", data-target="#space-up")
                    .col-12.col-sm-12.col-md-12.col-lg-12.informationCardsEvents
                        span SpaceUp Peru
                        span sábado, 14 de abril -  9:00 a 18:30
            .col-12.col-sm-5.col-md-5.col-lg-3#carEvent
                .row.no-gutters
                    .col-12.col-sm-12.col-md-12.col-lg-12
                        img.imgEvent(src="./images/events/conegp.jpg", alt="img1", data-toggle="modal", data-target="#conegp")
                    .col-12.col-sm-12.col-md-12.col-lg-12.informationCardsEvents
                        span Congreso Nacional Estudiantil de Gestión de Proyectos (CONEGP)
                        span 9:00 (15 de agosto) - 21:00 (18 de agosto) 
            .col-12.col-sm-5.col-md-5.col-lg-3#carEvent
                .row.no-gutters
                    .col-12.col-sm-12.col-md-12.col-lg-12
                        img.imgEvent(src="./images/events/maraton-innovatec.jpg", alt="img1", data-toggle="modal", data-target="#maraton-innovatec")
                    .col-12.col-sm-12.col-md-12.col-lg-12.informationCardsEvents
                        span 2da Maratón tecnológica Innovatec
                        span 10 y 11 de Abril / 21 y 22 de Abril // 18:00 a 21:00
        .row.justify-content-sm-center
            .col-12.col-sm-5.col-md-5.col-lg-3#carEvent
                .row.no-gutters
                    .col-12.col-sm-12.col-md-12.col-lg-12
                        img.imgEvent(src="./images/events/prog-plc.jpg", alt="img1", data-toggle="modal", data-target="#prog-plc")
                    .col-12.col-sm-12.col-md-12.col-lg-12.informationCardsEvents
                        span Online Gratis: Programación PLC para procesos industriales
                        span Martes, 10 de abril de 20:00 a 22:00
            .col-12.col-sm-5.col-md-5.col-lg-3#carEvent
                .row.no-gutters
                    .col-12.col-sm-12.col-md-12.col-lg-12
                        img.imgEvent(src="./images/events/sem-iot.jpg", alt="img1", data-toggle="modal", data-target="#sem-iot")
                    .col-12.col-sm-12.col-md-12.col-lg-12.informationCardsEvents
                        span Seminario: Internet de las cosas (IoT) Aplicaciones Presentes y Futuras
                        span 22 de Mayo de 19:00- 21:00 
            .col-12.col-sm-5.col-md-5.col-lg-3#carEvent
                .row.no-gutters
                    .col-12.col-sm-12.col-md-12.col-lg-12
                        img.imgEvent(src="./images/events/taller-marketing.jpg", alt="img1", data-toggle="modal", data-target="#taller-marketing")
                    .col-12.col-sm-12.col-md-12.col-lg-12.informationCardsEvents
                        span Taller de Marketing Digital
                        span Sábado 7 de Abril / de 9:00 a 12:30 
            .col-12.col-sm-5.col-md-5.col-lg-3#carEvent
                .row.no-gutters
                    .col-12.col-sm-12.col-md-12.col-lg-12
                        img.imgEvent(src="./images/events/ideas-estudios-mercado.jpg", alt="img1", data-toggle="modal", data-target="#ideas-estudios-mercado")
                    .col-12.col-sm-12.col-md-12.col-lg-12.informationCardsEvents
                        span Ideas y Estudio de Mercado
                        span 04 de Abril ( 7:00 p.m. - 10:00 p.m.) /07 de Abril ( 10:00 a.m. - 2:00 p.m.)
            .col-12.col-sm-5.col-md-5.col-lg-3#carEvent
                .row.no-gutters
                    .col-12.col-sm-12.col-md-12.col-lg-12
                        img.imgEvent(src="./images/events/tall-coaching.jpg", alt="img1", data-toggle="modal", data-target="#tall-coaching")
                    .col-12.col-sm-12.col-md-12.col-lg-12.informationCardsEvents
                        span Taller de Coaching
                        span Sábado 7 de abril de 14:45 a 18:00
            .col-12.col-sm-5.col-md-5.col-lg-3#carEvent
                .row.no-gutters
                    .col-12.col-sm-12.col-md-12.col-lg-12
                        img.imgEvent(src="./images/events/int-excel.jpg", alt="img1", data-toggle="modal", data-target="#int-excel")
                    .col-12.col-sm-12.col-md-12.col-lg-12.informationCardsEvents
                        span Inteligencia de Negocios en Excel
                        span Cada sábado, 7 de abril - 28 de abril (16:00)

    .modal.fade(id="arduino", tabindex="-1", role="dialog", aria-labelledby="exampleModalLabel", aria-hidden="true")
      .modal-dialog(role="document")
        .modal-content
            .modal-header
                h5.modal-title(id="exampleModalLabel") Arduino Day 2018
                button.close(type="button",data-dismiss="modal", aria-label="Close")
                span(aria-hidden="true") &times;
            .modal-body
                .container-fluid
                    .row
                        .col-12
                            img.img-fluid(src="./images/events/Arduino-Day.jpg", alt="img1")
                    .row
                        i.material-icons#iconBlack event
                        p#informationEvent sábado, 7 de abril
                    .row
                        i.material-icons#iconBlack watch_later
                        p#informationEvent ( 9:00 a 17:00 )
                    .row
                        i.material-icons#iconBlack attach_money
                        p#informationEvent Gratis
                    .row
                        i.material-icons#iconBlack pin_drop
                        p#informationEvent Auditorio Rosa Alarco Larrabure - UNMSM
                    .row
                        .col-12
                            ol 
                                li.text-justify Evento mundial que celebra el desarrollo de soluciones tecnologicas en Open Hardware. La tecnologia Arduino es la lider indiscutible en implementar aplicaciones Hardware y Software. En el Peru la sede del evento mundial es la Universidad Nacional Mayor de San Marcos y esa organizado por el grupo de investigacion de Internet de las Cosas.   
                                li Ingreso gratuito, capacidad limitada.
                                li 
                                    a(href="https://goo.gl/forms/zAOOE2GeMtZPWnrf1") https://goo.gl/forms/zAOOE2GeMtZPWnrf1https://www.facebook.com/events/1529278423849405/
            .modal-footer
                button.btn.btn-secondary(type="button",data-dismiss="modal") Close

    .modal.fade(id="scrum-day", tabindex="-1", role="dialog", aria-labelledby="exampleModalLabel", aria-hidden="true")
        .modal-dialog(role="document")
            .modal-content
                .modal-header
                    h5.modal-title(id="exampleModalLabel") Scrum Day Perú 2018
                    button.close(type="button",data-dismiss="modal", aria-label="Close")
                    span(aria-hidden="true") &times;
                .modal-body
                    .container-fluid
                        .row
                            .col-12
                                img.img-fluid(src="./images/events/scrum-day.jpg", alt="img1")
                        .row
                            i.material-icons#iconBlack event
                            p#informationEvent 27 de abril - 28 de abril  
                        .row
                            i.material-icons#iconBlack watch_later
                            p#informationEvent (9:00 a 18:00)
                        .row
                            i.material-icons#iconBlack attach_money
                            p#informationEvent S/. 500.00
                        .row
                            i.material-icons#iconBlack pin_drop
                            p#informationEvent Sol de Oro Hotel & Suites, Calle San Martin 305, Miraflores, Lima 18 
                        .row
                            .col-12
                                ol 
                                    li.text-justify El Scrum Day Perú es la conferencia anual que reúne en Lima a los mejores exponentes de la agilidad en Iberoamérica. 
                                    li En esta edición esperamos reunir a más de 400 agilistas, 39 charlas, 30 speakers, 1 open space y 7 países representados en un evento que dará que hablar en la región.
                                    li Entradas en ➡ 
                                        a(href="http://sdp2018.scrumdayperu.org/index.php/producto/entrada-general/") http://sdp2018.scrumdayperu.org/index.php/producto/entrada-general/
                                        
                                    li Incluye coffee breaks a media mañana y media tarde.
                                    li Programa de actividades : 
                                        a(href="https://www.facebook.com/events/2002674699989679/") https://www.facebook.com/events/2002674699989679/
                    button.btn.btn-secondary(type="button",data-dismiss="modal") Close
    
    .modal.fade(id="kanb-emprende", tabindex="-1", role="dialog", aria-labelledby="exampleModalLabel", aria-hidden="true")
      .modal-dialog(role="document")
        .modal-content
            .modal-header
                h5.modal-title(id="exampleModalLabel") Taller gratuito: Kanban para emprendedores en La Muralla
                button.close(type="button",data-dismiss="modal", aria-label="Close")
                span(aria-hidden="true") &times;
            .modal-body
                .container-fluid
                    .row
                        .col-12
                            img.img-fluid(src="./images/events/kanb-emprende.jpg", alt="img1")
                    .row
                        i.material-icons#iconBlack event
                        p#informationEvent jueves, 5 de abril 
                    .row
                        i.material-icons#iconBlack watch_later
                        p#informationEvent ( 19:00 a 21:00 )
                    .row
                        i.material-icons#iconBlack attach_money
                        p#informationEvent Gratis
                    .row
                        i.material-icons#iconBlack pin_drop
                        p#informationEvent Parque de La Muralla, Jirón Amzonas, 01 Lima
                    .row
                        .col-12
                            ol 
                                li DIRIGIDO A:
                                li.text-justify Todas las personas que quieren aprender el método Kanban para usarlo en sus emprendimientos, proyecto, centro de labores, su vida diaria, o que se quieran formar como facilitadores.   
                                li Objetivo: Dar un overview de este gran método en un taller 90% práctico. 
                                li Entrada: libre
                                li Certificado S/. 20.00 
                                li Duración: 02 horas cronológicas
                                li Informacíon:
                                    a(href="https://goo.gl/forms/eNawrTya1Q2bYxn13") https://goo.gl/forms/eNawrTya1Q2bYxn13
            .modal-footer
                button.btn.btn-secondary(type="button",data-dismiss="modal") Close

    .modal.fade(id="space-up", tabindex="-1", role="dialog", aria-labelledby="exampleModalLabel", aria-hidden="true")
      .modal-dialog(role="document")
        .modal-content
            .modal-header
                h5.modal-title(id="exampleModalLabel") SpaceUp Peru
                button.close(type="button",data-dismiss="modal", aria-label="Close")
                span(aria-hidden="true") &times;
            .modal-body
                .container-fluid
                    .row
                        .col-12
                            img.img-fluid(src="./images/events/space-up.jpg", alt="img1")
                    .row
                        i.material-icons#iconBlack event
                        p#informationEvent sábado, 14 de abril
                    .row
                        i.material-icons#iconBlack watch_later
                        p#informationEvent ( 9:00 a 18:30 )
                    .row
                        i.material-icons#iconBlack attach_money
                        p#informationEvent Gratis
                    .row
                        i.material-icons#iconBlack pin_drop
                        p#informationEvent UTEC - Universidad de Ingeniería y Tecnología
                    .row
                        .col-12
                            ol 
                                li.text-justify SpaceUp Peru es una no-conferencia, donde todos están invitados a hablar sobre temas relacionados con el sector espacial, sin importar su background o edad. Es la primera ocasión en que se realizará un SpaceUp en Peru, y la tercera en Latinoamérica,  
                                li Ingreso gratuito, capacidad limitada.
                                li 
                                    a(href="https://www.facebook.com/events/316142072240159/?active_tab=about")  https://www.facebook.com/events/316142072240159/?active_tab=about          

    .modal.fade(id="conegp", tabindex="-1", role="dialog", aria-labelledby="exampleModalLabel", aria-hidden="true")
      .modal-dialog(role="document")
        .modal-content
            .modal-header
                h5.modal-title(id="exampleModalLabel") Congreso Nacional Estudiantil de Gestión de Proyectos (CONEGP)
                button.close(type="button",data-dismiss="modal", aria-label="Close")
                span(aria-hidden="true") &times;
            .modal-body
                .container-fluid
                    .row
                        .col-12
                            img.img-fluid(src="./images/events/conegp.jpg", alt="img1")
                    .row
                        i.material-icons#iconBlack event
                        p#informationEvent  15 - 18 de agosto
                    .row
                        i.material-icons#iconBlack watch_later
                        p#informationEvent  9:00 (15 de agosto) - 21:00 (18 de agosto) 
                    .row
                        i.material-icons#iconBlack attach_money
                        p#informationEvent Gratis
                    .row
                        i.material-icons#iconBlack pin_drop
                        p#informationEvent Avenida Juan Pablo II 306, 07011 Bellavista, Perú
                    .row
                        .col-12
                            ol 
                                li.text-justify Somos un equipo de estudiantes que promueve el desarrollo del CONEGP; un evento académico importante que brinda herramientas, habilidades blandas y el uso de la tecnología como brazo estratégico en la formación integral de la Dirección de Proyectos.   
                                li Ingreso gratuito.
                                li 
                                    a(href="https://www.facebook.com/events/1860995150577735/")  https://www.facebook.com/events/1860995150577735/
            .modal-footer
                button.btn.btn-secondary(type="button",data-dismiss="modal") Close        

    .modal.fade(id="maraton-innovatec", tabindex="-1", role="dialog", aria-labelledby="exampleModalLabel", aria-hidden="true")
      .modal-dialog(role="document")
        .modal-content
            .modal-header
                h5.modal-title(id="exampleModalLabel") 2da Maratón tecnológica Innovatec
                button.close(type="button",data-dismiss="modal", aria-label="Close")
                span(aria-hidden="true") &times;
            .modal-body
                .container-fluid
                    .row
                        .col-12
                            img.img-fluid(src="./images/events/maraton-innovatec.jpg", alt="img1")
                    .row
                        i.material-icons#iconBlack event
                        p#informationEvent 10 y 11 de Abril / 21 y 22 de Abril
                    .row
                        i.material-icons#iconBlack watch_later
                        p#informationEvent ( 18:00 a 21:00 )
                    .row
                        i.material-icons#iconBlack attach_money
                        p#informationEvent Gratis
                    .row
                        i.material-icons#iconBlack pin_drop
                        p#informationEvent Muninet-Parque de la Muralla
                    .row
                        .col-12
                            ol 
                                li.text-justify Desde HOY inscríbete a nuestra II Maratón Tecnológica Innov@tec, donde se busca desarrollar soluciones innovadoras y tecnológicas entorno a los siguientes temas:   
                                li Desnutrición infantil
                                li Violencia de género
                                li Medio Ambiente 
                                li Ingreso gratuito, capacidad limitada. 
                                    a(href="http://bit.ly/2HEpJs8") http://bit.ly/2HEpJs8
            .modal-footer
                button.btn.btn-secondary(type="button",data-dismiss="modal") Close     

    .modal.fade(id="prog-plc", tabindex="-1", role="dialog", aria-labelledby="exampleModalLabel", aria-hidden="true")
      .modal-dialog(role="document")
        .modal-content
            .modal-header
                h5.modal-title(id="exampleModalLabel")  Programación PLC para procesos industriales
                button.close(type="button",data-dismiss="modal", aria-label="Close")
                span(aria-hidden="true") &times;
            .modal-body
                .container-fluid
                    .row
                        .col-12
                            img.img-fluid(src="./images/events/prog-plc.jpg", alt="img1")
                    .row
                        i.material-icons#iconBlack event
                        p#informationEvent Martes 10 de abril
                    .row
                        i.material-icons#iconBlack watch_later
                        p#informationEvent ( 20:00 a 22:00 )
                    .row
                        i.material-icons#iconBlack attach_money
                        p#informationEvent Gratis
                    .row
                        i.material-icons#iconBlack pin_drop
                        p#informationEvent German Schreiber 276, 0511 Lima
                    .row
                        .col-12
                            ol 
                                li.text-justify Certificado opcional y acceso a la grabación aquí ➡ 
                                        a(href="https://goo.gl/RGsg2i")  https://goo.gl/RGsg2i
                                li 100 vacantes libres aquí ➡ 
                                        a(href="http://blog.capacitate.pe/plc-para-procesos-industriales-conferencia-online/")  http://blog.capacitate.pe/plc-para-procesos-industriales-conferencia-online/
                                li Mayor información en
                                    a(href="https://www.facebook.com/events/197281274194549/") https://www.facebook.com/events/197281274194549/
            .modal-footer
                button.btn.btn-secondary(type="button",data-dismiss="modal") Close                          

    .modal.fade(id="sem-iot", tabindex="-1", role="dialog", aria-labelledby="exampleModalLabel", aria-hidden="true")
      .modal-dialog(role="document")
        .modal-content
            .modal-header
                h5.modal-title(id="exampleModalLabel") Seminario: Internet de las cosas (IoT) Aplicaciones Presentes y Futuras
                button.close(type="button",data-dismiss="modal", aria-label="Close")
                span(aria-hidden="true") &times;
            .modal-body
                .container-fluid
                    .row
                        .col-12
                            img.img-fluid(src="./images/events/sem-iot.jpg", alt="img1")
                    .row
                        i.material-icons#iconBlack event
                        p#informationEvent 22 de Mayo
                    .row
                        i.material-icons#iconBlack watch_later
                        p#informationEvent ( 19:00- 21:00 )
                    .row
                        i.material-icons#iconBlack attach_money
                        p#informationEvent Gratis
                    .row
                        i.material-icons#iconBlack pin_drop
                        p#informationEvent Centro de Convenciones Internacionales INICTEL-UNI, Av. San Luis 1771 - San Borja
                    .row
                        .col-12
                            ol  
                                li DIRIGIDO A: 
                                li.text-justify Profesionales de diseño e implementación de TICs, usuarios directos,estudiantes y desarrolladores de proyectos de construcción.  
                                li Descripción del Seminario: 
                                li Este Seminario de dos horas de duración presentará las aplicaciones actuales de IoT en ciudades y ámbitos rurales. Complementamos la presentación con una visión de largo alcance del IoT en la próxima década
                                li Temario ➡ 
                                     a(href="https://www.facebook.com/events/358287971326838/") https://www.facebook.com/events/358287971326838/
            .modal-footer
                button.btn.btn-secondary(type="button",data-dismiss="modal") Close 

    .modal.fade(id="taller-marketing", tabindex="-1", role="dialog", aria-labelledby="exampleModalLabel", aria-hidden="true")
      .modal-dialog(role="document")
        .modal-content
            .modal-header
                h5.modal-title(id="exampleModalLabel") Taller de Marketing Digital
                button.close(type="button",data-dismiss="modal", aria-label="Close")
                span(aria-hidden="true") &times;
            .modal-body
                .container-fluid
                    .row
                        .col-12
                            img.img-fluid(src="./images/events/taller-marketing.jpg", alt="img1")
                    .row
                        i.material-icons#iconBlack event
                        p#informationEvent Sábado 7 de Abril
                    .row
                        i.material-icons#iconBlack watch_later
                        p#informationEvent ( de 9:00 a 12:30 )
                    .row
                        i.material-icons#iconBlack attach_money
                        p#informationEvent Gratis
                    .row
                        i.material-icons#iconBlack pin_drop
                        p#informationEvent Calle Madre de Dios 255, Santa Beatriz, lima 0 Lima
                    .row
                        .col-12
                            ol 
                                li.text-justify El Marketing Digital está revolucionando el mundo. Aprende con nosotros a utilizar sus herramientas de manera correcta, para lograr el alcanzar tus objetivos. 
                                li  Capacidad limitada. 
                                    a(href="https://goo.gl/forms/gtJ04MRhxnJGeSiX2")   https://goo.gl/forms/gtJ04MRhxnJGeSiX2 
            .modal-footer
                button.btn.btn-secondary(type="button",data-dismiss="modal") Close 

    .modal.fade(id="ideas-estudios-mercado", tabindex="-1", role="dialog", aria-labelledby="exampleModalLabel", aria-hidden="true")
        .modal-dialog(role="document")
            .modal-content
                .modal-header
                    h5.modal-title(id="exampleModalLabel") Ideas y Estudio de Mercado
                    button.close(type="button",data-dismiss="modal", aria-label="Close")
                    span(aria-hidden="true") &times;
                .modal-body
                    .container-fluid
                        .row
                            .col-12
                                img.img-fluid(src="./images/events/ideas-estudios-mercado.jpg", alt="img1")
                        .row
                            i.material-icons#iconBlack event
                            p#informationEvent 4 y 7 de Abril
                        .row
                            i.material-icons#iconBlack watch_later
                            p#informationEvent 04 de Abril ( 7:00 p.m. - 10:00 p.m.) /07 de Abril ( 10:00 a.m. - 2:00 p.m.)
                        .row
                            i.material-icons#iconBlack attach_money
                            p#informationEvent Gratis
                        .row
                            i.material-icons#iconBlack pin_drop
                            p#informationEvent Av Javier Prado este 3502, piso 1 - San Borja
                        .row
                            .col-12
                                ol 
                                    li.text-justify Esta semana te invitamos a matricularte en un nuevo inicio de nuestro CURSO INTEGRAL MIEMPRESAPROPIA, que por más de 12 años ha capacitado a más de 6,700 nuevos emprendedores.
                                    li  Capacidad limitada. 
                                        a(href="https://www.facebook.com/events/2073558702900792/")  https://www.facebook.com/events/2073558702900792/   
                .modal-footer
                    button.btn.btn-secondary(type="button",data-dismiss="modal") Close   

    .modal.fade(id="tall-coaching", tabindex="-1", role="dialog", aria-labelledby="exampleModalLabel", aria-hidden="true")
      .modal-dialog(role="document")
        .modal-content
            .modal-header
                h5.modal-title(id="exampleModalLabel") Taller de Coaching
                button.close(type="button",data-dismiss="modal", aria-label="Close")
                span(aria-hidden="true") &times;
            .modal-body
                .container-fluid
                    .row
                        .col-12
                            img.img-fluid(src="./images/events/tall-coaching.jpg", alt="img1")
                    .row
                        i.material-icons#iconBlack event
                        p#informationEvent Sábado 7 de abril
                    .row
                        i.material-icons#iconBlack watch_later
                        p#informationEvent  (14:45 a 18:00)
                    .row
                        i.material-icons#iconBlack attach_money
                        p#informationEvent Gratis
                    .row
                        i.material-icons#iconBlack pin_drop
                        p#informationEvent Sedipro UCV Lima. Alfredo Mendiola 6232- Panamericana Norte, Los Olivos, 51 Lima.
                    .row
                        .col-12
                            ol 
                                li.text-justify En está oportunidad Daniel Vera, coach y motivador personal, será el encargado de dictar dicho taller con el que conocerás y desarrollaras tus habilidades de liderazgo y trabajo en equipo.
                                li Inscribete ya ➡ 
                                     a(href="https://docs.google.com/forms/d/e/1FAIpQLScCD2ld7kRcmi31z4r1DbrVwO-LDt0FnvJcwllzxEFYw5LR4g/viewform")  https://docs.google.com/forms/d/e/1FAIpQLScCD2ld7kRcmi31z4r1DbrVwO-LDt0FnvJcwllzxEFYw5LR4g/viewform
                                li  Capacidad limitada. 
                                    a(href=" https://www.facebook.com/events/158539294788260/")   https://www.facebook.com/events/158539294788260/
            .modal-footer
                button.btn.btn-secondary(type="button",data-dismiss="modal") Close

    .modal.fade(id="int-excel", tabindex="-1", role="dialog", aria-labelledby="exampleModalLabel", aria-hidden="true")
      .modal-dialog(role="document")
        .modal-content
            .modal-header
                h5.modal-title(id="exampleModalLabel") Wit Meetup Marzo
                button.close(type="button",data-dismiss="modal", aria-label="Close")
                span(aria-hidden="true") &times;
            .modal-body
                .container-fluid
                    .row
                        .col-12
                            img.img-fluid(src="./images/events/int-excel.jpg", alt="img1")
                    .row
                        i.material-icons#iconBlack event
                        p#informationEvent Cada sábado, 7 de abril - 28 de abril 
                    .row
                        i.material-icons#iconBlack watch_later
                        p#informationEvent 16:00 a 20:00
                    .row
                        i.material-icons#iconBlack attach_money
                        p#informationEvent Preguntar en página
                    .row
                        i.material-icons#iconBlack pin_drop
                        p#informationEvent CENTRO DE CAPACITACION DECCO. Calle Los Brillantes L'17 Urb. Miraflores II - etapa, 586 Castilla, Peru
                    .row
                        .col-12
                            ol 
                                li.text-justify Curso 100% práctico 
                                li Usamos plataforma moodle (material digital)
                                li  Capacidad limitada. 
                                    a(href="https://www.facebook.com/events/160780854583887/?active_tab=about")   https://www.facebook.com/events/160780854583887/?active_tab=about
            .modal-footer
                button.btn.btn-secondary(type="button",data-dismiss="modal") Close

            