footer{
    background-color: #206497;
    height: 5em;
    color: #fff;
    margin-top: 0em;
    display: flex !important;
    align-items: center;
    padding: 0 1em;
}
footer > span{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 12px;
}
