.menu-options {
  margin-top: 60px;
  margin-bottom: 0;
  display: none;
  padding: 10px 0;
  background-color:#7eb4ee;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.menu-option {
  padding: 3px 0;
  text-align: center;
  display: block;
  font-size: 20px;
  font-weight: 40100;
  color: rgb(255, 255, 255);
}
.menu-option:hover {
  color: #223d74;
  font-weight: 420;
}

@media only screen and (min-width: 600px) {
  .menu-options > li {
    width: calc(100% / 4);
  }
  .menu-options > li:nth-child(4) {
    width: calc(100% / 4);
  }

  .menu-options {
    margin-top: 70px;
  }
  .menu-option {
    padding: 5px 0;
  }
}
@media only screen and (max-width: 920px) {
  .menu-options {
    margin-top: 60px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
    background-color:#a2a8ac;
  }
  .menu-option {
    color: rgb(255, 255, 255);
}
}