.menu-options {
  margin-top: 60px;
  margin-bottom: 0;
  display: none;
  padding: 10px 0;
  background-color:#3e8ebf;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.menu-option {
  padding: 3px 0;
  text-align: center;
  display: block;
  font-size: 17px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}
.menu-option:hover {
  color: #223d74;
  font-weight: 420;
}
h6{
  background: rgba(0, 0, 0, 0.535);
  padding: 0.5em 1em;
}

@media only screen and (min-width: 600px) {
  .menu-options > li {
    width: calc(100% / 4);
  }
  .menu-options > li:nth-child(4) {
    width: calc(100% / 4);
  }

  .menu-options {
    margin-top: 70px;
  }
  .menu-option {
    padding: 5px 0;
  }
}
@media only screen and (max-width: 920px) {
  .menu-options {
    margin-top: 60px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
    background-color:#3e8ebf;
  }
  .menu-option {
    color: rgb(255, 255, 255);
}
}
@media only screen and (max-width: 300px) {
  .menu-option {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 400; 
  } 
  h1{
    font-size: 25px;
    width: 3em;
  }
  .material-icons {
    color: white;
    margin-left: 0em;
    margin-right: 0.2em;
    margin-top: 7px;
    font-size: 1.7em!important;
  }
  .search {
    width: 50px;
    height: 22px;
    padding: 0 2px;
    margin: 10px auto;
    display: inline;
    border: 1px solid #999;
    border-radius: 3px;
    font-size: 10px;
    right: 4em;
    top: 5px;
  }
  header {
    width: 100%;
    height: 45px;
    background-color: #0881ba;
    padding: 0 3px;
    padding-right: 0;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
  }
  .menu-options {
    margin-top: 44px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
    background-color: #63c0fd;
  }
    body {
      margin-top:78px;
    }
    h3{
      font-size: 20px;
    }
    .imgEvent {
      width: 100%;
      height: 10em;
  }
  h6 {
    font-size: 11px !important;
    text-align: left;
    font-family: sans-serif;
    font-weight: 200;
  }
  .carousel-item > img {
    height: 10em !important;
  }
  .img-article {
    width: 100%;
    height: 30vh !important;
    cursor: pointer;
  }
  .d-md-block{
    top: 28px;
  }
}
@media only screen and (max-width: 270px) {
  .menu-option {
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 400; 
  } 
  h1{
    font-size: 25px;
  }
  .logoWolap {
    width: 2.5em;
  }
}