.menu-options {
  margin-top: 60px;
  margin-bottom: 0;
  display: none;
  padding: 10px 0;
  background-color:#7eb4ee;
}

.menu-option {
  padding: 3px 0;
  text-align: center;
  display: block;
  font-size: 23px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  font-family: 'Boogaloo', cursive;
}
.menu-option:hover {
  color:#000000;
  font-weight: bolder;
}

@media only screen and (min-width: 600px) {
  .menu-options > li {
    width: calc(100% / 4);
  }
  .menu-options > li:nth-child(4) {
    width: calc(100% / 4);
  }

  .menu-options {
    margin-top: 70px;
  }
  .menu-option {
    padding: 5px 0;
  }
}
@media only screen and (max-width: 770px) {
  .menu-options {
    margin-top: 60px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
    background-color:#7eb4ee;
  }
  .menu-option {
    color: rgb(0, 0, 0);
    font-family: 'Boogaloo', cursive;
}
}