<!DOCTYPE html>
html(lang="en")
  head
    //- metta
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")

    //- styles
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Boogaloo", rel="stylesheet")
    link(rel="stylesheet", href="css/main.css")
    link(rel="stylesheet", href="css/header.css")
    link(rel="stylesheet", href="css/menu-options.css")
    link(rel="stylesheet", href="css/carousel.css")
    link(rel="stylesheet", href="css/article-home.css")
    link(rel="stylesheet", href="css/footer.css")

    //- fonts
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Boogaloo|Signika+Negative", rel="stylesheet")

    title Inicio
  body

    header.fixed-top
      a(href="../../../index.html")
        img(src="images/koala.png", alt="koala").logoWolap
      a(href="../../../index.htmlindex.html")
        h1.logo WOLAPP
      ul
        a.menu-option(href="events.html") Eventos
        a.menu-option(href="#") Bolsa de trabajo
        a.menu-option(href="#") Agenda
        a.menu-option(href="#") Publicar
      div
        input(type="text", placeholder="Buscar...").search
        a(href="#")
          i.material-icons account_circle

    ul.menu-options.fixed-top.nav-options
      a(href="events.html").menu-option Eventos
      a(href="#").menu-option Bolsa de trabajo
      a(href="#").menu-option Agenda
      a(href="#").menu-option Publica
    block container

    

    footer.row
      span.mx-auto Todos los derechos reservados FindUs
    
    
       
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js", integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js", integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", crossorigin="anonymous")
    script(src="js/app.js")
    script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7OZ6lHBNCgOSu6pa8nJ3Jf2zR0-t_ilM&callback=initMap")
    